{% extends "base.html" %}
{% block app_content %}
<div class="container row"  style="border-radius: 10px;">
    <div class="col-xs-auto col-sm-6 col-md-6 col-lg-6" style="background-color: #dd2a7b; color: white; padding: 10px; border-radius: 10px;">
        <h3>{{ user }}</h3>

        <h4>follower count: {{ followers }} </h4>
        <h4>following count: {{ following }} </h4>
    </div>
    <div class="col-xs-auto col-sm-6 col-md-6 col-lg-6">

        
        <p>The number of people that do not follow you from your following list is: {{ length }}</p>
        <div style="height: 300px;">
            <ul style="overflow: auto; max-height: 300px;">
            {% for user in names %}
            <li> <a href="http://www.instagram.com/{{user}}" target="_blank"> {{ user }} </a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
